@import '~bootstrap/scss/bootstrap.scss';
.container {
  border: 5px double; 
}
.button{
  width: 100px;
}
.submitButton{
  margin-bottom: 40px;
  margin-top: 20px;
}
.image-container {
	position: relative;
	width: 100%;
	height: 200px;
	padding-top: 56.25%;
	overflow: hidden;
}

.image-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}