$color: steelblue;

.my-flix {
  color: $color;
}

.card{  
    background-color: lightblue;
    color:black;
    text-align:left;
    width:40%;
    padding: 20px;
    margin:auto
}

.button{
  width: 100px;
}